@font-face {
    font-family: 'Fantasque Sans Mono';
    src: url(/fonts/fantasquesansmono-regular.otf);
}

h1,
h2,
h3 {
    font-family: 'Fantasque Sans Mono';
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
}

p,
ul,
ol {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
}

a {
    color: blueviolet;
    text-decoration: none;
}