nav {
    position: fixed;
    top: 20px;
    left: 20px;
    width: 250px;
    font-size: 16px;
    line-height: 1.4;
}

nav ol {
    list-style-type: none;
    padding-left: 0;
}

nav>ol>li>ul {
    padding-left: 20px;
}